nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 0;
}

.nav-in {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-in-one h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}

.nav-in-one span {
    color: blue;
    font-size: 1.6rem;
    font-weight: 500;
}
.nav-in-two{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-in-two a,
.nav-in-two-in p {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}
