.sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: black;
}

.sidebar-in {
    width: 95%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background-color: black;
    min-height: 90vh; /* Minimum height to ensure it's not too small */
    max-height: 85vh; /* Maximum height to prevent overflow */
    overflow-y: auto; /* Scroll vertically if content overflows */
}

.sidebar-in h3 {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    letter-spacing: 0.12rem;
    border-bottom: 2px solid #444;
    padding-bottom: 0.5rem;
}

.sidebar-in ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-in li {
    width: 100%;
    margin: 0.5rem 0;
}

.sidebar-in li a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: #ffffff;
    background-color: grey;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border 0.3s;
}

.sidebar-in li a:hover {
    background-color: white;
    border: 1px solid #ffffff;
    color: black;
}

.active {
    background-color: #c0392b;
    border: 1px solid #ffffff;
}

.dropdown-menu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-toggle:after {
    content: ' ▼';
    float: right;
    color: white;
}

.dropdown-toggle:hover {
    color: black;
}

.dropdown-toggle.active:after {
    content: ' ▲';
}
