@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
body {
    height: 100vh; 
    width: 100%;
    background-position: fixed;
}
.dashboard {
    display: flex; 
    flex-direction: column; 
    height: 100vh;
    width: 100%;
}
.dashboard-in {
    height: 100vh;
    width: 100%;
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}
.dashboard-nav {
    width: 100%; 
}
.dashboard-container {
    /* background-color: grey; */
    flex: 1; 
    display: flex; 
    min-height: 0; 
    width: 100%; 
}
.dashboard-sidebar {
    width: 20%; 
    height: auto; 
}
.dashboard-content {
    /* background-color: grey; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.dashboard-footer {
    width: 100%; 
}
